<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/assets/MarvelLogo.svg" alt="Logo image" width="100" height="80"></a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="home">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="characters">CHARACTERS</a>
            </li>
        </ul>
    </div>
</nav>