.carousel-control-next {
    right: -8%;
  }
.carousel-control-prev {
    left: -8%;
  }
img{
      height: 200px;
  }
.accordion{
    width: 100%;
}

.card.h-100 {
    cursor: pointer;
}